.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logotip{
    margin-left: 38px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 65px;
}

.header__link{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #616364;    

    &:hover {
        text-decoration: underline rgb(182, 152, 116);
        text-decoration-thickness: 3px;
        text-underline-offset: 9px;
        color: #000;
      }
}

.header__btn{
    background-color: #fff;
    border: none;
    cursor: pointer;

}

.modal__menu {
    width: 200px;
    height: 200px;
    background-color: #616364;
    display: none;
    position: absolute;
    top: 50px;
    left: 1200px;
  
  }

.modal{
    display: block;
}

